<!--Header-->
<div class="row header align-center">
  <div class="column small-6 medium-3">
    <img src="https://www.themoviedb.org/assets/static_cache/27b65cb40d26f78354a4ac5abf87b2be/images/v4/logos/powered-by-rectangle-green.svg" alt="" />
  </div>
</div>
<!--/Header-->

<div class="row">

  <div class="cloumns small-12 search-wrapper" >

    <span class="search-list-container">
    <input type="search" class="search-box" id="search-bar" required placeholder="Search Your Favourite Movie">

    <div class="tt-menu">
      <div class="tt-container">
        <div class="row expanded search-movie" ng-repeat="movie in vm.searchResults" ng-click="vm.viewDetails(movie.id)">
          <div class="columns small-4 medium-2 search-results">
            <img ng-src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" class="tn">
          </div>
          <div class="columns text-left movie-info">
            {{movie.original_title}} <br>
            <span>{{vm.genreIdKeys[movie.genre_ids[0]]}}, {{movie.release_date.substring(0, 4)}}</span>
          </div>
        </div>
      </div>
    </div>
   </span>

    <button class="close-icon" type="reset"> </button>
  </div>
</div>



<div class="row align-justify">
  <div class="columns small-8">
    <h3>Trending Movies</h3>
  </div>
  <div class="columns small-4 text-right more">
    <h4><a href="#">More</a></h4>
  </div>
</div>

<div class="row movie-images">
  <div class="cloumns small-12">
    <div class="images scroll-behavior">

      <div class="movie-new small-4 medium-3 large-2" ng-repeat="movie in vm.trendingMovies" ng-hide="!movie.poster_path" ng-click="vm.viewDetails(movie.id)">
        <img ng-src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}"/>
        <span class="badge" ng-class="{alert: movie.vote_average <= 5, warning: (movie.vote_average > 5  && movie.vote_average < 7) , success: movie.vote_average > 7}">{{movie.vote_average}}</span>
        <div class="movie-title">{{movie.title}}</div>
        <div class="movie-lead">{{vm.genreIdKeys[movie.genre_ids[0]]}}, {{movie.release_date.substring(0, 4)}}</div>
      </div>


    </div>
  </div>
</div>

<hr>
<div class="row align-justify">
  <div class="columns small-8">
    <h3>New Movies</h3>
  </div>
  <div class="columns small-2 text-right more">
    <h4><a href="#">More</a></h4>
  </div>
</div>
<div class="row movie-images">
  <div class="cloumns small-12">

    <div class="images scroll-behavior">

      <div class="movie-new small-3" ng-repeat="movie in vm.upcomingMovies" ng-hide="!movie.poster_path || movie.title === 'Jumper 2'" ng-click="vm.viewDetails(movie.id)">
        <img ng-src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}"/>
        <div class="movie-title">{{movie.title}}</div>
        <div class="movie-lead">{{vm.genreIdKeys[movie.genre_ids[0]]}}, {{movie.release_date.substring(0, 4)}}</div>
      </div>

    </div>
  </div>
</div>

<footer>
  <div class="row text-center">
    <div class="column">
      <p>Designed & Developed by Jeyenth</p>

    </div>
  </div>
  <div class="row text-center">
    <div class="column">
      <p><a href="https://github.com/aerojeyenth/movie-search">View Code</a></p>
    </div>
  </div>
</footer>
